@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  background-color: #112233;
}

h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 2%;
}

h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 2%;
  }

P {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 2%;
}

a {
  color:white;
  text-align: center;
 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover { color:lightslategray; }
